<% if !current_user %>
	<%= render 'greeting' %>
<% else %>
	<h1>
		Your notepads
	</h1>
	<% if @pads == [] %>
		<p>
			There isn't any notepads! Create one right now.
		</p>
		<%= link_to "Create new notepad", new_pad_path, :class => "create_button" %>
	<% else %>
		<%= link_to "Create new notepad", new_pad_path, :class => "create_button" %>
		<p>
			<% if current_user %>
				<% @pads.each do |pad| %>
					• <%= link_to "#{pad.title}", pad, :class => "pad_link" %>
						<%= " | #{pad.description}" if pad.description != "" %></br>
				<% end %>
			<% end %>
		</p>
	<% end %>
<% end %>
