<h1>
	Your notes in “<%= @pad.title %>”
	<%= link_to "Delete pad", pad_path,
			:method => :delete, 
			:class => "action_link",
			:confirm => "Are you sure you want delete this pad#{" with " + pluralize(@pad.notes.count, "note") 				if @pad.notes.count != 0 }?" %>
</h1>
<%= link_to "Create a new note", new_pad_note_path(@pad), :class => "create_button" %>
<p>
	<% @notes.each do |note| %>
		<h2>
			<%= note.title %>
			<span class="action_link">
			<%= link_to "Edit", pad_note_path(@pad, note) %> |
			<%= link_to "Delete", pad_note_path(@pad, note), :method => :delete %>
		</h2>
		<p><%= note.content %></p>
		<p><b>Keywords:</b> <%= note.keywords %></p><br/>
	<% end %>
</p>
