<!DOCTYPE html>
<html>
<head>
  <title>Notepad</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Londrina+Shadow", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to "Notepad", root_path, :class => "title" %>	

		<span class="status">
			<% if current_user %>
				Signed in as <b><%= current_user.name %></b> | <%= link_to "Sign out", signout_path %>
			<% else %>
				<span id="nsigned"><%= link_to "Sign in", signin_path %> or <%= link_to "sign up", signup_path %>
			<% end %>
		</span>

		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>
	</header>

	<section id="main_back">
		<section id="main_content">
			<%= yield %>
		</section>
	</section>

	<footer>
		Developed by <%= mail_to "soupdawgie@gmail.com", "soupdawgie" %>.
		Working on Ruby on Rails 3.2.1.
	</footer>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>
